$color: #282c34;

.bundle-wrapper{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    justify-content: space-between;
    // padding-top: 5px;
    // padding-bottom: 5px;
    padding:5px;
    transition: 0.07s ease-in;
    border-bottom: 1px solid darken(#c8c8c8,8%);

    &:hover{
        // animation-duration: 0.3ms;
        background-color: darken(#c8c8c8,7%);
        color: 	lighten(#101010,15%)
    }
}