.container-wrapper{
    overflow: hidden;
    padding:10px;
    .content-container{
        border-radius: 30px;
        background-color: #ffffff;
        padding: 15px;
        display: flex;
        flex-direction: column;
    }
}