.login-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: darken($color: #F4F5F7, $amount: 3);
    > .logo{
        width: 150px;
        margin-bottom: 10px
    }

        > .login-btn{
            border-radius: 15px;
            outline:none;
            background-color: #42B0D5;
            transition: 0.1s ease-in;
            > p{
                padding:15px;
                color:#FFFFFE;
            }
            &:hover{
                cursor: pointer;
                background-color: lighten($color: #42B0D5, $amount: 10);
                >p {

                    color: darken(#FFFFFE,10);
                }
            }
        }   
   
    .login-form{
        display: flex;
        flex-direction: column;
        input{
            padding: 10px;
            border: none;
            outline: none;

        }
    }
}


.cargo-wrapper{
    padding: 15px;
    width: 100%;
    align-self: stretch;
    > .cargo-container{
        padding: 10px 30px 10px 30px;
        background-color: #ffffff;
        border-radius: 30px;
        height: 100%;
        display: flex;
        flex-direction: column;
        > h1{
            color: #FFBB38;
            text-transform: uppercase;
            font-weight: 700;
            font-size: xx-large;
        }
        > .description{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
        }
        > .routes{
            overflow-y: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            > .route{
                width:30%;
                background-color: #DBE4FE;
                display: flex;
                flex-direction: column;
                border-radius: 15px;
                padding: 15px;

                >h1 {
                    text-align: center;
                    font-size: xx-large;
                    color: #FFBB38;
                }
                > .port-name, > .port-info, >.route-metrics{
                    margin: 5px;
                }
                > .port-name{
                    display: flex;
                    flex-direction: row;
                    background-color: #BACCFD;
                    border-radius: 10px;
                    padding: 10px;
                    // justify-content: space-evenly;
                    >.port-location{
                        flex:1;
                        text-transform: uppercase;
                    }
                    >.port-type{
                        flex:1;
                    }
                }
                > .port-info, >.route-metrics{
                    background-color: rgba(186,204,253,0.53);
                    border-radius: 10px;
                    padding: 10px;
                    display: flex;
                    flex-direction: row;
                    // justify-content: space-around;

                    >.desc, >.vals{
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        > .fat{
                            font-weight: 700;
                        }
                    }
                }

                > .route-metrics{
                    background-color: rgba(255,255,255,0.75);
                }
            }
        }
    }
}

.confirm-route-btn{
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    background-color: rgba(255,187,56,0.75);
    padding: 10px;
    color: #353E6C;
    transition: 0.1s ease-in;
    &:hover{
        background-color: rgba(255,187,56,1);
        color:darken(#353E6C,10) ;
        cursor: pointer;

    }
}