.card-container{
    padding: 15px;

    .card {
        overflow: hidden;
        position: relative;
        background-color: #ffffff;
        max-width: 300px;
        height: 300px;
        border-radius: 30px;
        .card-bg{
            position: absolute;
            top: -25px;
            // width: 300px;
            // height: auto;
            .card-bg-stroke{
                fill: #5C24FC;
            }
        }
        .card-content{
            display: flex;
            justify-content: space-between;
            position: relative;
            height: 100%;
            padding: 10%;
            flex-direction: column;
            .card-top{
                color: #ffffff;
                padding-bottom: 10%;
                .card-user-name{
                    font-size: xx-large;
                    line-height: 45px;
                    letter-spacing: 0.5px;
                    font-weight: 700;
                }

                .country-info{
                    display: flex;
                    flex-direction: row;
                    font-weight: 900;
                    font-size: large;
                    line-height: 22.5px;
                }
            }
            .card-bot{
                display: flex;
                flex-direction: column;
                font-size: small;
            }
        }
    }
    
}

.yellow{
    background-color: #FF9A3E;
    > .sc{
        > .rect-bot{
            fill: #FFC087;
        }
        > .rect-mid{
            fill: #FFD3AB;
            opacity: 0.7;
        }
        > .rect-top{
            stroke: white;
            stroke-opacity: 0.3;
        }
    }
}


.red{
    background-color: #F44771;
    > .sc{
        > .rect-bot{
            fill: #FF7193;
        }
        > .rect-mid{
            fill: #FFFFFF;
            opacity: 0.3;
        }
        > .rect-top{
            stroke: white;
            stroke-opacity: 0.3;
        }
    }
}

.blue{
    background-color: #332A7C;
    > .sc{
        > .rect-bot{
            fill: #C7C1F6;
        }
        > .rect-mid{
            fill: #7F77C5;
            opacity: 0.7;
        }
        > .rect-top{
            stroke: white;
            stroke-opacity: 0.3;
        }
    }
}

.small-card-container{
    position: relative;
    padding: 15px;
    width: 300px;
    height: fit-content;
    .small-card{
        overflow: hidden;
        position: relative;
        border-radius: 30px;
        // background-color: #F44771;
        // background-color: #FF9A3E;
        
        .sc-content{
            position: relative;
            display: flex;
            padding: 15px;
            height: 100%;
            font-weight: 500;
            flex-direction: column;
            justify-content: space-between;
            color: #ffffff;
            .sc-description{
                font-size: x-large;
            }
            .sc-information{
                display: flex;
                flex-direction: row;
                font-size: xx-large;
                align-items: center;
                .sc-arrow{
                    height: 100%;
                    width: auto;
                }
            }
        }

        .sc{
            height: auto;
            width: 100%;
            right: -40%;
            position: absolute;
        }
    }
}

