.card-container{
    padding: 15px;
    height: fit-content;

    .card {
        overflow: hidden;
        // width: 40vh;
        // max-width: 340px;
        position: relative;
        height: auto;
        background-color: #ffffff;
        border-radius: 30px ;
        .card-bg{
            position: absolute;
            width: 100%;
            height: auto;
            .card-bg-stroke{
                fill: #5C24FC;
                // fill: linear-gradient(to bottom right, #5C24FC, lighten(#5C24FC,30%));
            }
        }
        .card-content{
            display: flex;
            position: relative;
            padding: 10%;
            height: 100%;
            width: auto;
            flex-direction: column;
            .card-top{
                color: #ffffff;
                padding-bottom: 10%;
                .card-user-name{
                    font-size: 30px;
                    line-height: 45px;
                    letter-spacing: 0.5px;
                    font-weight: 700;
                }

                .country-info{
                    display: flex;
                    flex-direction: row;
                    font-weight: 900;
                    font-size: 15px;
                    line-height: 22.5px;
                }
            }
            .card-bot{
                display: flex;
                flex-direction: column;
            }
        }
    }
    
}

.small-card-container{
    width: fit-content;
    height: fit-content;
    position: relative;
    padding: 15px;
    .small-card{
        overflow: hidden;
        position: relative;
        border-radius: 30px;
        width: auto;
        height: auto;
        background-color: #F44771;
    
        .sc-content{
            position: relative;
            display: flex;
            padding: 15px;
            height: 100%;
            font-weight: 500;
            flex-direction: column;
            justify-content: space-between;
            color: #ffffff;
            .sc-description{
                font-size: x-large;
            }
            .sc-information{
                display: flex;
                flex-direction: row;
                font-size: xx-large;
                align-items: center;
                .sc-arrow{
                    height: 100%;
                    width: auto;
                }
            }
        }

        .sc{
            height: auto;
            width: 100%;
            right: -40%;
            position: absolute;
        }
    }
}