.nav-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #ffffff;
    height: 100vh;
    
    @media screen and (max-width: 950px){
        display: none;
    }
    .nav-items{
        // padding:15px;
        display: flex;
        flex-direction: column;
        pointer-events: bounding-box;

        > a {
            padding:15px 25px 15px 25px;
            transition: 0.08s ease-in;

            > .logo{
                width: 25px;
                height: 25px;
    
                > path {
                    fill: #9E9E9E;
                    transition: 0.08s ease-in;
                }
            }

            &:hover{
                background-color: #F4F5F7;

                > .logo > path{
                    fill: #4880FF;
                }
            }
        }

    }
}


.top-nav-container{
    .top-nav-wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 25px 0 25px;
        justify-content: space-between;
        > .item{
            padding: 15px 40px 0 15px;
            > .logo{
                height:35px;
            }
    
            > .profile-pic{
                border-radius: 50%;
                height:35px;

            }
        }
    }
}

.active{
    border-right:5px solid #4880FF ;
    >svg > path {
        fill:#4880FF !important;
    }
}