$color: #282c34;
$lighter: lighten($color,5%);
$darker: darken($color,30%);


.table-wrapper{
    width: 100%;
    padding-top: 10px;
    height: 80vh;
    .container-table{
        // max-height: 90vh;
        border-spacing: 15px;
        width: 100%;
    }
    .table-heading th{
        text-align: center;
        color: #353E6C;
        font-size: medium;
        font-weight: 500;
    }
}
th, td{
    padding: 4px 20px 4px 20px;
    text-align: center;
}



tr{
    td{
        border-radius: 10px;
        line-height:normal;
        font-size: small;
        // display: inline-block;
    }
    .bundle-name{
        background-color: #BACCFD;
        color: #353E6C;
    }
    // .bundle-status{
    //     background-color: #C1E4B4;
    // }
    .bundle-arrival,.bundle-price{
        background-color: #EDF2FF;
    }
    .suggestion{
        background-color: #FFF5D9;
        color: #FFBB38;
    }
}
p{
    padding: 4px;
}
.divider{
    padding:0;
    // width: %;
    img{
        height: 15px;
    }
}



.low{
    background-color: #C1E4B4;
}

.medium{
    background-color: #FFB347;
}

.high{
    background-color: #F44771;
}