.map-wrapper{
    padding:15px;
    align-self: flex-end;
    width: 100%;
    // position: relative;
    .map{
        background-color: #BACCFD;
        border-radius: 30px ;
        max-height: 70vh;
    }
    // .rsm-svg{
    //     height: 600px;
    // }

    .map-zoom-container{
        position: absolute;
        bottom: 35px;
        right: 35px;
        width: 100px;
        height: 30px;
        border-radius: 15px;
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        // align-items: center;
        // align-content: center;

        .map-zoom-button{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .map-zoom{
            stroke: #BACCFD;
            
        }
    }
}

// #filter124_d{ //USA
//     // fill: yellow;
    
//     path{
//         fill: yellow;
//         stroke: red;
//         background-color: yellow;
//     }
// }

// .port{
//     top: 10px;
//     height: 100px;
//     path{
//         stroke: yellow;
//         fill: yellow;
//     }
// }

.tested{
    fill: #F4F5F7;
    border: 1px solid black;
    // outline: 1px solid black;
    &:hover{
        fill:darken($color: #F4F5F7, $amount: 5%);
    }
    &:focus{
        outline: none;
    }
}

.marker-box{
    pointer-events: bounding-box;
}